body{
	background-color: rgb(113, 113, 233);
	background:rgba(113,113,233,0.1);
}

header{
	width: 1300px;
	height: 100px;
	margin: auto;
	padding-top: 30px; 
}

.logo{
	width: 200px;
	height: 42px;
	margin:0 auto;
	float:left;
}

.logo a{
	display: block;
	width: 200px;
	height: 42px;
	background: url(../images/logo.jpg) no-repeat;
	text-indent: -990px;
}

nav{
	margin: auto;
	float:right;
}

nav li{
	height: 42px;
	width: 42px;
	list-style: none; 
	float:left;
}

nav li a{
	font-size: 

}

.search{
	height: 42px;
	width: 42px;
	float:center;
}

.search input{

}

.personnal{

}


